<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AboutUs</key>
	<string>http://54.165.84.198/yorefer</string>
	<key>AppTitle</key>
	<string>Yorefer</string>
	<key>BaseURL</key>
	<string>http://52.23.173.95:8080/irefer/api/</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Yorefer</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1566612710265616</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.4</string>
	<key>ErrorMessage</key>
	<string>Error</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>a83ccb4670328997c5b48686eabaaf8627c19dd0</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>ISI6tu1QIanLB6nmGJymkKZ83</string>
					<key>consumerSecret</key>
					<string>UZomBXCzKR5CLez7ZrX4ueepXdeqErxXnBy2bUzVhh55Dg3YCI</string>
				</dict>
				<key>KitName</key>
				<string>Digits</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>ISI6tu1QIanLB6nmGJymkKZ83</string>
					<key>consumerSecret</key>
					<string>UZomBXCzKR5CLez7ZrX4ueepXdeqErxXnBy2bUzVhh55Dg3YCI</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1566612710265616</string>
	<key>FacebookDisplayName</key>
	<string>YoRefer-test</string>
	<key>FeedBackRecipient</key>
	<string>support@udvitech.com</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fbapi</string>
		<string>twitter</string>
		<string>whatsapp</string>
		<string>facebook</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>The camera is required to take personal profile picture.</string>
	<key>NSContactsUsageDescription</key>
	<string>I nned access to contacts</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Yorefer would like to use your location</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Your Personal photo library can be used to select an existing photo to use as your profile picture.</string>
	<key>PrivacyPolicy</key>
	<string>http://54.165.84.198/yorefer/privacy-policy.html</string>
	<key>Required Background Modes.</key>
	<array>
		<string>App registers for location updates</string>
	</array>
	<key>TermsAndConditions</key>
	<string>http://54.165.84.198/yorefer/terms-of-service.html</string>
	<key>TimeInterval</key>
	<string>180</string>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageName</key>
			<string>Default</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>connectionStatus</key>
	<string>No Internet Connection</string>
	<key>privacy - location usage description</key>
	<string></string>
</dict>
</plist>
